<div>
  <h2>Login Form</h2>
  <form #loginForm="ngForm" (submit)="handleLogin()">
    <div>
      <input
        placeholder="Enter username"
        required
        minlength="4"
        type="text"
        #uname="ngModel"
        name="username"
        [(ngModel)]="username"
      />
      <div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
        <div *ngIf="uname.errors?.['required']">This field is required.</div>
        <div *ngIf="uname.errors?.['minlength']">
          This field must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div>
      <input
        placeholder="Enter password"
        required
        type="password"
        #pword="ngModel"
        name="password"
        [(ngModel)]="password"
      />
      <div *ngIf="pword.invalid && (pword.dirty || pword.touched)">
        <div *ngIf="pword.errors?.['required']">This is required field</div>
      </div>
    </div>
    <div>
      <button [disabled]="loginForm.invalid" type="submit">Login</button>
    </div>
  </form>
</div>
