<div>
  <h2>Inventory list</h2>
  <div class="mb-1">
    <button type="button" (click)="navigateToAddInventory()"> Add inventory </button>
  </div>
  <div *ngIf="rows.length === 0">
    <p>No records found</p>
  </div>
  <table *ngIf="rows.length > 0">
    <tr>
      <th *ngFor="let col of cols">{{ (col.display || col.name) | titlecase  }}</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of cols">{{ row[col.name] }}</td>
      <td>
        <a class="table-actions__link" href="javascript: void(0)" (click)="navigateToAddInventory(row.id)">Edit</a> &nbsp;
        <a class="table-actions__link" href="javascript: void(0)" (click)="deleteInventory(row.id)">Delete</a>
      </td>
    </tr>
  </table>
</div>